﻿@page
@model RazorWebpagesApplication.Pages.CovidCarsModel
@{
    ViewData["Title"] = "CovidCars";
}

<h1>CovidCars</h1>
@{
    var vInDemandCars = new List<string>()
    {
        "Smart for two",
        "Chevrolet volt",
        "Misubishi iMevic",
        "Nissan Leaf"
    };
    <ul>
        @{
            int count = 1;
            foreach (string cars_ in vInDemandCars)
            {
                <li>@cars_</li>
            }
         }
    </ul>
 }

